<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<bindings>
   <netTcpBinding>
    <binding name="TcpEP">
     <security mode="None">
      <message algorithmSuite="Default" />
     </security>
    </binding>
   </netTcpBinding>
  </bindings>
		<client>
   <endpoint address="net.tcp://localhost:7000/Service" binding="netTcpBinding"
    bindingConfiguration="TcpEP" contract="ServiceReference1.IFileTransportService"
    name="TcpEP" />
  </client>
	</system.serviceModel>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
